Import Libraries

In [ ]:
import pandas as pd

Extract data

In [ ]:
google_sheet_id = '10OGbaywwMIqKgnPGy8VDvpBVtjyqln47iYa2lFhI9Mw'
url = 'https://docs.google.com/spreadsheets/d/' + google_sheet_id + '/export?format=xlsx'
monthly_expense = pd.read_excel(url, sheet_name="Sheet1")

In [ ]:
google_sheet_id = '1qayqML1zCKdmtzutkcy9LWvE6xFRm6TGBEVkHHJKIuE'
url = 'https://docs.google.com/spreadsheets/d/' + google_sheet_id + '/export?format=xlsx'
new_customer = pd.read_excel(url, sheet_name="Sheet1")

In [ ]:
google_sheet_id = '1c_WihqTZCQvNgxzmd-OwhR9i5diwtfxXVLyMn8R-Lp4'
url = 'https://docs.google.com/spreadsheets/d/' + google_sheet_id + '/export?format=xlsx'
payroll = pd.read_excel(url, sheet_name="Sheet1")

In [ ]:
google_sheet_id = '1AZOIThOV4P-0eYDge53ZwumVkfkHoYPWxst3k3Bv87c'
url = 'https://docs.google.com/spreadsheets/d/' + google_sheet_id + '/export?format=xlsx'
daily_market = pd.read_excel(url, sheet_name="Sheet1")

In [ ]:
google_sheet_id = '1by8tPHwOnq3uKYK2E7sA9VBUYoPM4p1Rnrm_Ss9cyHI'
url = 'https://docs.google.com/spreadsheets/d/' + google_sheet_id + '/export?format=xlsx'
life_span = pd.read_excel(url, sheet_name="Sheet1")

1.CAC: Customer Acquistion Cost

In [ ]:
month_expense_3 = monthly_expense[monthly_expense["month"] == '2023-03']

1.1. Software marketing expense

In [ ]:
month_expense_SME = month_expense_3[month_expense_3["item"] == 'Salesforce']

In [ ]:
crm_expense= month_expense_3[month_expense_3["item"] == 'Salesforce']['amount'].sum()
crm_expense

np.int64(1700)

CAC = total acquistion cost/ nb of new customer

-> Software

-> payroll = sales + marketing

-> Daily marketing

Payroll code

In [ ]:
payroll_3 = payroll[payroll["month"] == '2023-03']

In [ ]:
payroll_tac = payroll_3[(payroll_3["department"] == 'Sales') | (payroll_3["department"] == "Marketing")]
payroll_tac

        month department  employee_name            position  paid
34 2023-03-01      Sales       John Doe       Sales Manager  1500
35 2023-03-01      Sales     Jane Smith     Sales Associate   600
36 2023-03-01      Sales      Jim Brown     Sales Associate   700
37 2023-03-01      Sales   Laura Miller     Sales Associate   800
38 2023-03-01  Marketing  Alice Johnson   Marketing Manager  1650
39 2023-03-01  Marketing      Bob Davis  Content Specialist   700

In [ ]:
payroll_expense = payroll_tac['paid'].sum()
payroll_expense

np.int64(5950)

Daily market code

In [ ]:
daily_market_3 = daily_market[(daily_market["date"] >= '2023-03-01') & (daily_market["date"] <= '2023-03-31')]
daily_market_3

          date       channel  spending
236 2023-03-01    Google Ads       449
237 2023-03-01  Facebook Ads       229
238 2023-03-01  LinkedIn Ads       835
239 2023-03-01   Twitter Ads       986
240 2023-03-02    Google Ads       912
..         ...           ...       ...
355 2023-03-30   Twitter Ads       960
356 2023-03-31    Google Ads       143
357 2023-03-31  Facebook Ads       183
358 2023-03-31  LinkedIn Ads       533
359 2023-03-31   Twitter Ads       909

[124 rows x 3 columns]

In [ ]:
daily_market_expense = daily_market_3['spending'].sum()
daily_market_expense

np.int64(68830)

In [ ]:
TAC = payroll_expense + crm_expense + daily_market_expense
TAC

np.int64(76480)

number of new customer

In [ ]:
payment_03 = new_customer[(new_customer["date"] >= '2023-03-01') & (new_customer["date"] <= '2023-03-31')]

In [ ]:
nb_new_customer = payment_03[payment_03['new_customer'] == 1]['customer_id'].nunique()
nb_new_customer

63

In [ ]:
cac = round(TAC/nb_new_customer)
cac

1214

ARPU

In [ ]:
sum_receipt = payment_03['receipt_amount'].sum()
sum_receipt

np.int64(83033)

In [ ]:
nb_customer = payment_03['customer_id'].nunique()
nb_customer

292

In [ ]:
ARPU = round(sum_receipt/nb_customer)
ARPU

284

COGS

Software expense

In [ ]:
production_software = ['AWS Hosting', 'Google Cloud Storage', 'Atlassian Jira']
production_expense = month_expense_3[month_expense_3['item'].isin(production_software)]['amount'].sum()
production_expense

np.int64(14200)

In [ ]:
shared_software =['Zoom', 'Slack']
shared_expense = month_expense_3[month_expense_3['item'].isin(shared_software)]['amount'].sum()*0.6
shared_expense

np.float64(864.0)

In [ ]:
software_expense = production_expense + shared_expense
software_expense

np.float64(15064.0)

Production salary

In [ ]:
production_department = ['Engineering']
production_salary = payroll_3[payroll_3['department'].isin(production_department)]['paid'].sum()
production_salary

np.int64(5200)

In [ ]:
COGS = software_expense + production_salary
COGS

np.float64(20264.0)

Gross Margin = Doanh thu - giÃ¡ vá»‘n/ doanh thu

In [ ]:
gross_margin = (sum_receipt - COGS)/ sum_receipt*100
gross_margin

np.float64(75.5952452639312)

LTV - life time value = ARPU * Avg_lifetime*gross_margin

In [ ]:
life_span['lifespan_days'] = (pd.to_datetime(life_span['churn_date']) - pd.to_datetime(life_span['start_date'])).dt.days
life_date

0    303 days
1    307 days
2     97 days
3    534 days
4    163 days
       ...
95    50 days
96    32 days
97   567 days
98   726 days
99   962 days
Length: 100, dtype: timedelta64[ns]

In [ ]:
avg_life_span = life_span['lifespan_days'].mean()
avg_life_span

np.float64(295.24)

In [ ]:
life_span_month = avg_life_span/30
life_span_month

np.float64(9.841333333333333)

In [ ]:
ltv = ARPU*life_span_month*gross_margin
ltv

np.float64(211284.07400431152)

LTV/CAC = Life time value
Sá»‘ tiá»n khÃ¡ch hÃ ng Ä‘em láº¡i gáº¥p 174 láº§n sá»‘ tiá»n thu hÃºt khÃ¡ch hÃ ng

In [ ]:
ratio = ltv/cac
ratio

np.float64(174.0395996740622)